extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Andrew Keith

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | After graduating from college with a marketing degree, my natural love of technology drove me to pursue digital marketing.
            | Thanks to a unique opportunity I was able to emerse myself in the development world, helping manage development projects for clients.
            | The more I worked with the developers, the more I wanted to learn.
            br
            br
            | I bring to the table a strong combination of business and technology. I am able to help make decisions while developing that are business driven.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Node.js
          li React, Redux, Material UI
          li HTML, CSS, Javascript
          li SQL
        h6 Contact Info

        //- Add your own contact info
        ul
          li 519-123-1234
          li andrewkeith@sample.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/crawfordandrewkeith', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/crankeith', target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  